* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #1a1a18;
  --texto: #ffffff;
  --card: #2c2c2a;
  --borda: #79796f;
  --legendas: #eeeedc;
}

:root.light {
  --bg: #f8f7f4;
  --texto: #1a1a18;
  --card: #ffffff;
  --borda: #e0ddd6;
  --legendas: #000000;
}

body {
  background: var(--bg);
  color: var(--texto);
  transition: background 0.2s, color 0.2s;
}

header {
  background: var(--card);
  border-bottom: 0.5px solid var(--borda);
  padding: 20px 32px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
  transition: background 0.2s;
}

#btn-tema{
  margin-left: 15px;
}

main {
  max-width: 600px;
  margin: 32px auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  background: var(--card);
  border: 0.5px solid var(--borda);
  border-radius: 12px;
  padding: 20px 24px;
  transition: background 0.2s;
}

.container p {
  font-size: 15px;
  font-weight: 500;
  color: var(--legendas);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  height: 36px;
  border: 0.5px solid var(--borda);
  border-radius: 8px;
  padding: 0 12px;
  font-size: 14px;
  color: var(--texto);
  background: var(--bg);
  outline: none;
  margin-bottom: 20px;
  transition: background 0.2s, color 0.2s;
}

input[type="text"]:focus {
  border-color: var(--texto);
}

button {
  height: 36px;
  padding: 0 16px;
  border-radius: 8px;
  border: 0.5px solid var(--texto);
  background: var(--texto);
  color: var(--bg);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  opacity: 0.85;
}

button:active {
  transform: scale(0.98);
}

.resultado-view p {
  background: var(--card);
  border: 0.5px solid var(--borda);
  border-radius: 12px;
  padding: 16px 24px;
  font-size: 15px;
  color: var(--texto);
  min-height: 48px;
  transition: background 0.2s, color 0.2s;
}

footer {
  text-align: center;
  padding: 32px;
  font-size: 15px;
  margin-top: 15px;
  color: var(--legendas);
}